body {
  background: #ffecf2;
}
.navbar {
  height: 8vh;
  border: solid 2px lime;
  z-index: 1;
}
.blob-cont {
 position: relative;
  width: 1250px;
  height: 1200px;
  margin-top: -480px;
  margin-left: -300px;
  overflow: hidden;
}
svg {
  background: #ffecf2;
}
